@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
}

/* BEGIN NAVBAR */
.banner .initial{
    text-shadow: 1px 1px 1px rgba(0, 0, 0,.7);
}

.navbar-default{
    background-color: transparent;
    border: none;
    margin-bottom: 200px;
    
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,.7);
}
.navbar-default .navbar-nav>li>a:hover {
    color:rgb(36, 197, 103);

}
.navbar-default .navbar-nav>li>a:focus {
    color:rgb(2, 253, 107);
}
.navbar-scroll{
    background-color: #fff;
}

.navbar-default .nav-color>li>a{
    color: rgb(110, 106, 106);
    text-shadow: none;
}

.navbar-default .navbar-brand img{
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    
}
/* END NAVBAR */

/* BEGIN BANNER */

.banner .container .row {
    color: #fff;
    margin-top: 250px;
}
.banner .container .row h1{
    color:rgb(11, 196, 88);
    font-size: 60px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,.7);
}
.banner{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.btn-default {
    color: #fff;
    background-color:transparent;
    border-color: #ccc;
}
/* END NAVBAR */

/* BEGIN ABOUT */
.about h1{
    margin-top: 50px;
    margin-bottom: 40px;
}
.about .image img{
    margin-top: 15px;
}

.about h1 span::after{
    content: '';
    border-bottom: 3px solid black;
    display: block;
    width: 6%;
    margin: auto;
}
/* END ABOUT */

/* BEGIN SERVICES */
.services h1 span::after{
    content: '';
    border-bottom: 3px solid #fff;
    display: block;
    width: 6%;
    margin: auto;
}
.services h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.services{
    background-color: #07b978;    
    margin-top: 50px;
    margin-bottom: 50px;
    color: #eaeaea;
    padding-bottom: 50px;
}
.services .core-services{
    margin-bottom: 40px;
}
/* END SERVICES */

/* BEGIN EXPERIENCE */
.experience h1 span::after{
    content: '';
    border-bottom: 3px solid #000;
    display: block;
    width: 6%;
    margin: auto;
}
.experience h1{
    margin-bottom: 50px;
}

.experience .core-experience .thumbnail{
    border: none;
    background-color: #efefef;    
    padding: 0;
}
.experience .thumbnail h3 span{
    margin-left: 60px;
    font-size: 1.3rem;
    background-color: #1dc688;
    padding: 4px;
    color: #fff;
    font-weight: bold;
}
/* END EXPERIENCE */

/* BEGIN BLOG */

.blog{
    background-image: url(../img/blog.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    margin-bottom: 50px; 
}
.blog .row span{
    color: #fff;
}
.blog .row .desc{ 
    color: #fff;
}
.blog h1 span::after{
    content: '';
    border-bottom: 3px solid #fff;
    display: block;
    width: 6%;
    margin: auto;
}
.blog h1{
    margin-bottom: 50px;
}

.bg_shadow{
    background-color: rgba(0, 0, 0,.5);
}
.blog h3 span{
    margin-left: 50px;
    font-size: 1.3rem;
    background-color: #1dc688;
    padding: 4px;
    color: #fff;
    font-weight: bold;
}
.blog .row .core-blog{
    background-color: #eaeaea;
}

/* END BLOG */


/* BEGIN PROJECT */

/* begin img */
.project .thumbnail{
    border: none;
}
.project-img img{
    height: 164.77px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    
}

  .project-img:hover img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    box-shadow: 0 5px 10px rgba(0, 0,0,.5);
  }
/* end img */

.desc-project{
    background-color: rgb(42, 112, 218);
    color: #eaeaea;
    margin-top: 50px;
    padding: 50px 0;
}
.project h1 span::after{
    content: '';
    border-bottom: 3px solid black;
    display: block;
    width: 6%;
    margin: auto;
}
.project h1{
    margin: 50px 0;
}

.desc-project .button .btn-work{
    background-color: #fff;
    color:  rgb(42, 112, 218);
}
.desc-project .button .btn-hire{
    background-color: rgb(8, 7, 7);
    color: #fff;
    border: none;
}
/* END PROJECT */

/* BEGIN CONTACT */

.core-contactForm{
    margin-left: 10px;
}

.contact iframe{
    margin-bottom: 2em;
}

.contact .form-group .btn-primary{
    margin: right;
    padding:10px 25px;
}


/* END CONTACT */

/* BEGIN FOOTER */
.footer{
    background-color: rgb(14, 12, 12);
    height: 200px;
    padding-top: 3em;
}

.footer .icon-footer{
    padding: 10px;
    background-color: rgb(70, 64, 64);
    color: #eaeaea;
    margin-left: 1rem;
    margin-bottom:2rem; 
    border-radius: 3px;
    
}

.footer .btn-chevron{
    font-size: 25px;
    color: #eaeaea;
    margin-top: 2rem;
    
}

/* END FOOTER */